
.sesameopen{
  padding: 10px;
  background-color: lightgreen;
  margin: 10%;
  font-size: 20px;
  text-decoration: none;
  border-radius: 10px;
}

.mdlwindow{
  opacity: 0;
  /* you can also use display:none; */
  pointer-events: none;
  background-color: rgba(100,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mdlwindow:target{
  opacity: 1;
  pointer-events: all;
}

.msgblock{
  background-color: white;
  width: 60%;
  margin: auto;
  /* A way to center */
  /* transform: translate(50%,50%); */
}

.msgblock h1{

}

.msgblock p{

}

.msgblock a{

}
