img{
  width:100%;
  height: 100%;
  background-color: orange;
  /* padding: 100px; */
  border: 4px solid orange;
}

.smallbox{
  background-color: lightpink;
  border: 2px solid red;
  height:600px;
  width: 48%;
  float:left;
}

.smallbox img{
  width: 100%;
  height: 80%;
}
