*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E3EDBF;
}

.mid-container{
  /* border: 2px solid green; */
  width: 60%;
  max-width: 1200px;
  height: 100vh;
  background-color: #F1F6DF;
}

.header{
  /* border: 2px solid red; */
  height: 150px;
  margin-bottom: 50px;
}

.img-stage{
  width: 120px;
  height: 120px;
  margin:15px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px;
  border: 2px solid green;
  float: left;
  justify-content: center;
}
.header-img{
  width: 100%;
  height: 100%;
  animation: img-zoom 5s infinite;
}

.title-stage{
    margin-top: 20px;
    /* border: 1px solid green; */
    display: inline-block;
    width: 300px;
    height: 60px;
    overflow: hidden;
}

.title-wrapper{
  /* border: 1px solid black; */
  position: relative;
  width: 100%;
  height: 100%;
  animation: header-title-animation 5s infinite;
}

.title-slide{
  font-family: 'Berkshire Swash', cursive;
  font-size:25px;
  color: #354400;
  width: 100%;
  position: absolute;
}

.slogan-stage{
  /* border: 1px solid green; */
  width: 350px;
  /* Positioning of the stage */
  margin-left: 156px;
  height:45px;
  overflow: hidden;
}

.slogan-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  animation: slogan-animation 5s infinite;
}

.slogan-slide{
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 25px;
  position: absolute;
}

@keyframes slogan-animation {
  0%{right: -350px;}
  100%{right: 0px;}
}

@keyframes header-title-animation {
  0%{top:-100px}
  100%{top:0px;}
}

@keyframes img-zoom {
  0%{transform: scale(0);}
  100%{transform: scale(1);}
}

.stage{
  /* border:2px solid red; */
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.slide-wrapper{
  width: 300%;
  height: 100%;
  /* border: 1px solid black; */
  animation: slideshow 25s infinite;
}

.slide{
  width: 33.33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  font-size: 25px;
  font-family: 'Nanum Pen Script', cursive;
  float: left;
}

.slide:nth-child(1){
  background-color: #B8D160;
}

.slide:nth-child(2){
  background-color: #6A8900;
}

.slide:nth-child(3){
  background-color: #9BBF20;
}

@keyframes slideshow{
  0%{margin-left: 0%;}
  15%{margin-left: 0%;}
  25%{margin-left: -100%;}
  40%{margin-left: -100%;}
  50%{margin-left: -200%;}
  65%{margin-left: -200%;}
  75%{margin-left: -100%}
  90%{margin-left: -100%}
  100%{margin-left:0%;}
}

.hero{
  /* border: 2px solid red; */
  width: 100%;
  height: 600px;
  background-image: url('images/hero-img.jpg');
  background-size: 100% 100%;
  position: relative;
}

.hero-text{
  /* border: 2px solid blue; */
  width: 50%;
  height: 250px;
  position: relative;
  top: 35%;
  left: 5%;
  text-align: center;
  display: flex;
}

.hero-text p{
  border:5px solid #82B784;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Edu TAS Beginner', cursive;
  background-color: #CDE4D0;
  font-size: 130%;
  padding: 5%;
}
