*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E3EDBF;
}

.mid-container{
  /* border: 2px solid green; */
  width: 60%;
  max-width: 1200px;
  height: 180vh;
  background-color: #F1F6DF;
}

.header{
  /* border: 2px solid red; */
  height: 150px;
  margin-bottom: 50px;
}

.img-stage{
  width: 120px;
  height: 120px;
  margin:15px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px;
  border: 2px solid green;
  float: left;
  justify-content: center;
}
.header-img{
  width: 100%;
  height: 100%;
  animation: img-zoom 5s infinite;
}

.title-stage{
    margin-top: 20px;
    /* border: 1px solid green; */
    display: inline-block;
    width: 300px;
    height: 60px;
    overflow: hidden;
}

.title-wrapper{
  /* border: 1px solid black; */
  position: relative;
  width: 100%;
  height: 100%;
  animation: header-title-animation 5s infinite;
}

.title-slide{
  font-family: 'Berkshire Swash', cursive;
  font-size:25px;
  color: #354400;
  width: 100%;
  position: absolute;
}

.slogan-stage{
  /* border: 1px solid green; */
  width: 350px;
  /* Positioning of the stage */
  margin-left: 156px;
  height:45px;
  overflow: hidden;
}

.slogan-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  animation: slogan-animation 5s infinite;
}

.slogan-slide{
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 25px;
  position: absolute;
}

@keyframes slogan-animation {
  0%{right: -350px;}
  100%{right: 0px;}
}

@keyframes header-title-animation {
  0%{top:-100px}
  100%{top:0px;}
}

@keyframes img-zoom {
  0%{transform: scale(0);}
  100%{transform: scale(1);}
}

.stage{
  /* border:2px solid red; */
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.slide-wrapper{
  width: 300%;
  height: 100%;
  /* border: 1px solid black; */
  animation: slideshow 25s infinite;
}

.slide{
  width: 33.33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  font-size: 25px;
  font-family: 'Nanum Pen Script', cursive;
  float: left;
}

.slide:nth-child(1){
  background-color: #B8D160;
}

.slide:nth-child(2){
  background-color: #6A8900;
}

.slide:nth-child(3){
  background-color: #9BBF20;
}

@keyframes slideshow{
  0%{margin-left: 0%;}
  15%{margin-left: 0%;}
  25%{margin-left: -100%;}
  40%{margin-left: -100%;}
  50%{margin-left: -200%;}
  65%{margin-left: -200%;}
  75%{margin-left: -100%}
  90%{margin-left: -100%}
  100%{margin-left:0%;}
}

.hero{
  /* border: 2px solid red; */
  width: 100%;
  height: 600px;
  background-image: url('images/hero-img.jpg');
  background-size: 100% 100%;
}

.hero-text{
  /* border: 2px solid blue; */
  width: 50%;
  height: 250px;
  position: relative;
  top: 35%;
  left: 5%;
  text-align: center;
  display: flex;
}

.hero-text p{
  border:5px solid #82B784;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Edu TAS Beginner', cursive;
  background-color: #CDE4D0;
  font-size: 130%;
  padding: 5%;
}

.two-imgs{
  /* border: 2px solid red; */
  width: 100%;
  height: 400px;
  display: flex;
}
/*
.two-imgs img{
  border: 2px solid blue;
  flex: left;
  justify-content: space-between;
  width: 40%;
  height: 300px;
  margin: auto;
} */

.under-hero-box{
  /* border: 2px solid blue; */
  flex: left;
  justify-content: space-between;
  width: 40%;
  height: 300px;
  margin: auto;
}

#under-hero-box1{
  background: linear-gradient(rgba(241, 246, 223, 0.3), rgba(241, 246, 223, 0.3)), url('images/plants1.jpg');
  background-size: 100% 100%;
}

.under-hero-box p{
  border: 2px solid #212E21;
  width: 60%;
  height: 130px;
  position: relative;
  top: 40px;
  left: 40px;
  padding: 6%;
  font-size: 120%;
  font-family: 'Edu TAS Beginner', cursive;
  color: #101711;
  text-align: center;
  box-shadow: 2px 2px;
}

#under-hero-box2{
 padding: 5% 3%;
 font-family: 'Edu TAS Beginner', cursive;
 color: #101711;
 background-color: rgba(33,46,33,.3);
 font-size: 140%;
 border: 1px solid #212E21;
 box-shadow: 2px 2px 7px 1px #101711;
}

#under-hero-box2 h2{
  font-size: 150%;
  font-family: 'Berkshire Swash', cursive;
}

.sell-product{
  /* border: 2px solid red; */
  width: 100%;
  height: 700px;
  margin-top: 50px;
}

.sell-product h2{
  /* border: 1px solid blue; */
  height: 60px;
  padding: 1% 5%;
  font-family: 'Berkshire Swash', cursive;
  color: #212E21;

}

.sell-product hr{
  width: 90%;
  margin: 0 auto;
  border-top: 3px solid #212E21;
  border-radius: 20%;
}

.sell-product .sell-item{
  /* border: 2px solid blue; */
  width: 30%;
  height: 580px;
  /* display: flex;
  float:left;*/
  margin: 1%;
  margin-top: 30px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

#item1{
  margin-left: 2.5%;
}

.item-img{
  /* border: solid 1px green; */
  width: 100%;
  margin: 0 auto;
  height: 55%;
}

.item-img img{
  width: 100%;
  height: 100%;
  /* border: 2px solid green; */
}

.sell-description{
  /* border: 2px solid purple; */
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 100%;
  text-align: center;
}

.sell-item-name{
  /* border: 2px solid yellow; */
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Berkshire Swash', cursive;
  color: #212E21;
  font-size: 190%;
}

.sell-price{
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Edu TAS Beginner', cursive;
}

.sell-button-space{
  /* border: 2px solid pink; */
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sell-button-space a{
  padding: 10px;
  background-color: #212E21;
  text-decoration: none;
  color: white;
}

.mdlwindow{
  opacity: 0;
  pointer-events: none;
  background-color: rgba(85,89,72,0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  transition: 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mdlwindow:target{
  opacity: 1;
  pointer-events: all;
}

.msgblock{
  background-color: white;
  /* width: 30%; */
  width: 500px;
  height: 50%;
  position: relative;
}

.exit-button{
  position: absolute;
  top:0; right:0;
  padding: 10px;
  background-color: rgba(33,46,33,.3);
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color:  #212E21;
}

.item-details{
  /* border: 2px solid red; */
  width: 100%;
  height: 60%;
  padding: 30px;
}

.item-title{
  /* border: 2px solid blue; */
  width: 100%;
  height: 45px;
  font-family: 'Berkshire Swash', cursive;
  color:  #212E21;
}

.item-details hr{
  border-top: 1px solid #212E21;
}

.item-content{
  /* border: 2px solid purple; */
  width: 45%;
  height: 90%;
  float:left;
  margin: 5px;
}

#item-image{
  margin-left:5px;
}
.item-content img{
  width: 100%;
  height: 100%;
}

.item-content-title{
  /* border:1px solid blue; */
  margin-top: 30px;
  height: 20%;
  width: 100%;
  font-family: 'Berkshire Swash', cursive;
  font-size: 200%;
  color:  #212E21;
  display:
}

.item-sun-water{
  /* border: 1px solid red; */
  width: 100%;
  height: 25%;
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 110%;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.item-price{
  /* border: 2px solid yellow; */
  width: 100%;
  height: 15%;
  font-family: 'Edu TAS Beginner', cursive;
  margin-top: 20px;
}

.item-description-back{
  /* border: 2px solid red; */
  height: 30%;
  background-color:rgba(33,46,33,.3);
  padding: 10px;
}

.item-description-back p{
  font-family: 'Edu TAS Beginner', cursive;
  line-height: 25px;
  font-size: 120%;
}

.previous{
  width: 40px;
  height: 40px;
  /* border: 2px solid green; */
  background-color: rgba(33,46,33,.3);
  position: absolute;
  bottom:0;
  padding-top: 4px;
}

.previous img{
  width: 90%;
  height: 90%;
}

.no-previous{
  width: 40px;
  height: 40px;
  /* border: 2px solid green; */
  background-color: rgba(33,46,33,.3);
  position: absolute;
  bottom:0;
  opacity: 50%;
  pointer-events: none;
  padding-top: 4px;
}

.no-previous img{
  width: 90%;
  height: 90%;
}
.forward{
  width: 40px;
  height: 40px;
  /* border: 2px solid green; */
  background-color: rgba(33,46,33,.3);
  position: absolute;
  bottom:0;
  right:0;
  padding-top: 4px;
}

.forward img{
  width: 90%;
  height: 90%;
}

.no-forward{
  width: 40px;
  height: 40px;
  /* border: 2px solid green; */
  background-color: rgba(33,46,33,.3);
  position: absolute;
  bottom:0;
  right: 0;
  opacity: 50%;
  pointer-events: none;
  padding-top: 4px;
}

.no-forward img{
  width: 90%;
  height: 90%;
}
